* {
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    background-color: azure;
    margin: 0px;
    padding:0px;
}

.header {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100px;
	width: 100%;
	background-color:#102040;
	font-size: 77px;
	font-weight: bolder;
	color:azure;
}

.panelCont{
	display: flex;
	justify-content: center;
	margin: 40px;
}

.panel {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 300px;
	width: 300px;
	background-color: #cce6ff;
	border: 10px solid #55698f;
	border-radius: 100%;
}

.timeControlBox {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 75px;
	width: 90%;
	background-color: #cce6ff;
}

.timeBox {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-right: 15px;
	height: 75px;
	width: 52px;
	background-color: #8cb3d9;
	border-radius: 4px;
}

.timeDisplay {
	display: flex;
	align-items: center;
	justify-content: center;
  margin-top:5px;
	height: 50px;
	width: 39px;
	background:#55698f;
	border-radius:4px;	
	color:azure;
	font-stretch: ultra-expanded;
	font-size: 1.9em;
}

.settingBox {
	display: inline-flex;
	align-items: center;
	justify-content: space-around;
	height: 16px;
	width:35px;
	padding:0px;
	background: #8cb3d9;
}

.ajustButton {
	height: 14px;
	width:17px;
	margin:0px;
	border: 0px;
	background: #8cb3d9;
	overflow: hidden;
	font-weight: bolder;
	padding:0px 0px 0px 0px;
	font-size: 1.1em;
	line-height: 23%;
	color:#55698f;
	
}